<ion-view hide-nav-bar="true">
    <ion-content>
        <ion-slide-box show-pager="true" pager-click="introCtrl.goToPage(index)">

            <ion-slide>
                <div class="card">
                    <div class="item item-divider divider-royal">
                        <h2 class="center" translate>Introduction</h2>
                    </div>
                    <div class="item item-text-wrap">
                        <div translate>Let's begin with a presentation that explains how to use this application.</div>
                        <br>

                        <div translate>Next slides shows the main functionalities of Rain Radar City.</div>
                        <br>

                        <div translate>Swipe left to move to the next page.</div>
                    </div>
                </div>

                <div class="card">
                    <div class="item item-image">
                        <img src="img/intro/intro1.png">
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="card">
                    <div class="item item-divider divider-royal">
                        <h2 class="center" translate>Search City</h2>
                    </div>
                    <div class="item item-text-wrap" translate>
                        First, enter your city name then click on it.
                    </div>
                </div>

                <div class="card">
                    <div class="item item-image">
                        <img src="img/intro/citiesList.png">
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="card card-gallery-intro">
                    <div class="item item-divider divider-royal">
                        <h2 class="center" translate>Consult Rain Radar</h2>
                    </div>
                    <div class="card-legend image-intro-raining-center">
                        <div class="row">
                            <div class="col-25 col-center">
                                <img src="img/intro/red-circle.png">
                            </div>
                            <div class="col" translate>Raining Clouds</div>
                        </div>
                        <div class="row">
                            <div class="col-25 col-center">
                                <img src="img/intro/green-circle.png">
                            </div>
                            <div class="col" translate>Date and Time</div>
                        </div>
                        <div class="row row-legend-last">
                            <div class="col-25 col-center">
                                <img src="img/intro/bleu-square.png">
                            </div>
                            <div class="col" translate>Forecast index / All</div>
                        </div>
                    </div>
                </div>
                <div class="card card-gallery-intro">
                    <div class="row">
                        <div class="image-intro-raining-left">
                            <img src="img/intro/rain_legend.png">
                        </div>
                        <div class="image-intro-raining-right">
                            <img src="img/intro/london2.png">
                        </div>
                    </div>
                </div>
                <div class="card card-gallery-intro">
                    <div class="row">
                        <div class="image-intro-raining-left">
                            <img src="img/intro/london3.png">
                        </div>
                        <div class="image-intro-raining-right">
                            <img src="img/intro/london4.png">
                        </div>
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="card">
                    <div class="item item-text-wrap item-divider divider-royal row">
                        <h2 class="center col" translate>Use GPS to Geolocate your city</h2>
                        <button id="gotostart" class="button button-balanced ion-chevron-down btn-scroll-down"
                                ng-click="introCtrl.scrollBottom()"/>
                    </div>
                    <div class="item item-text-wrap">
                        <div translate>By activating your GPS :</div>
                        <div class="list-gps-features">
                            <ul>
                                <li translate>You can have directly the forecast radar on the geolocated city.</li>
                                <li translate>You can view your location in a city and the rain clouds around you</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="row">
                        <div class="image-intro-menu-geoloc-left">
                            <img src="img/intro/menu_geoloc.png">
                        </div>
                        <img src="img/intro/divider3.png" class="vertical-divider">
                        <div class="image-intro-menu-geoloc-right">
                            <img src="img/intro/nantes_gps.png">
                        </div>
                    </div>
                </div>
                    <button id="0" class="button button-block button-full button-positive" ui-sref="app.cities"
                            ng-click="introCtrl.startApp()" translate>
                        Start Search City
                </button>
            </ion-slide>

        </ion-slide-box>
    </ion-content>
</ion-view>
