<ion-view hide-nav-bar="true">

    <ion-content>
        <ion-slide-box show-pager="true" pager-click="introCtrl.goToPage(index)">

            <ion-slide>
                <div class="card">
                    <div class="item item-divider">
                        <h2 class="center" translate>Introduction</h2>
                    </div>
                    <div class="item item-text-wrap">
                        <div translate>Let's begin with a presentation that explains how to use this application.</div>
                        <br>
                        <div translate>Next slides shows the main functionalities of Rain Radar City.</div>
                        <br>
                        <div translate>Swipe right to move to the next page.</div>
                    </div>
                </div>

                <div class="card">
                    <div class="item item-image">
                        <img src="img/intro/intro1.png">
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="card">
                    <div class="item item-divider">
                        <h2 class="center" translate>Search City</h2>
                    </div>
                    <div class="item item-text-wrap" translate>
                        First, enter your city name and click on it.
                    </div>
                </div>

                <div class="card">
                    <div class="item item-image">
                        <img src="img/intro/citiesList.png">
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="card">
                    <div class="item item-divider">
                        <h2 class="center" translate>Consult Rain Radar</h2>
                    </div>
                </div>

                <div class="card">
                    <div class="item image-intro-2-radars">
                        <img src="img/intro/2radars.png">
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="card">
                    <div class="item image-intro-raining-left">
                        <img src="img/intro/rain1.png">
                    </div>
                </div>
                <div class="card">
                    <div class="item image-intro-raining-center">
                        <img src="img/intro/rain2.png">
                    </div>
                </div>
                <div class="card">
                    <div class="item image-intro-raining-right">
                        <img src="img/intro/rain3.png">
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="card">
                    Legende
                </div>
                <div class="card">
                    <div class="item image-intro-raining-center">
                        <img src="img/intro/rain2.png">
                    </div>
                </div>
                <div class="card">
                    <div class="item image-intro-raining-right">
                        <img src="img/intro/rain3.png">
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="card">
                    <div class="item item-divider">
                        <h2 class="center" translate>Save your favourite cities</h2>
                    </div>
                    <div class="item item-text-wrap" translate>
                        You can also save your favourite cities to check them quicker from the menu.
                    </div>
                    <div class="item image-intro-menu-fav">
                        <img src="img/intro/menuFav.png">
                    </div>
                </div>

                <div class="card">
                    <div class="item item-text-wrap" translate>
                        City marked as favorite.
                    </div>
                    <div class="item item-image">
                        <img src="img/intro/favorite.png">
                    </div>
                </div>
                <div class="card">
                    <div class="item item-text-wrap" translate>
                        City not marked as favorite.
                    </div>
                    <div class="item item-image">
                        <img src="img/intro/noFavorite.png">
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="card">
                    <div class="item item-text-wrap item-divider row">
                        <h2 class="center col" translate>Use GPS to Geolocate your city</h2>
                        <button id="gotostart" class="button button-balanced ion-chevron-down btn-scroll-down" ng-click="introCtrl.scrollBottom()"/>
                    </div>
                    <div class="item item-text-wrap" translate>
                        By activating your GPS, you can have directly the radar on the geolocated city.
                    </div>
                    <div class="item image-intro-menu-geoloc">
                        <img src="img/intro/menuGeoloc.png">
                    </div>
                </div>
                <br>
                <button id="0" class="button button-block button-full button-positive" ui-sref="app.cities" ng-click="introCtrl.startApp()" translate>
                    Start Search City
                </button>
            </ion-slide>

        </ion-slide-box>
    </ion-content>
</ion-view>
