<ion-view hide-nav-bar="true">

    <ion-content>
        <ion-slide-box>

            <ion-slide>
                <div class="card">
                    <div class="item item-divider">
                        <h2 class="center">Search City</h2>
                    </div>
                    <div class="item item-text-wrap">
                        First, enter your city name and click on the wanted one.
                    </div>
                </div>

                <div class="card">
                    <div class="item item-image">
                        <img src="img/intro/citiesList.png">
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="card">
                    <div class="item item-divider">
                        <h2 class="center">Consult Radar City</h2>
                    </div>
                </div>

                <div class="card">
                    <div class="item image-intro-2-radars">
                        <img src="img/intro/2radars.png">
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="card">
                    <div class="item image-intro-raining-left">
                        <img src="img/intro/raining1.png">
                    </div>
                </div>
                <div class="card">
                    <div class="item image-intro-raining-center">
                        <img src="img/intro/raining2.png">
                    </div>
                </div>
                <div class="card">
                    <div class="item image-intro-raining-right">
                        <img src="img/intro/raining3.png">
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="card">
                    <div class="item item-divider">
                        <h2 class="center">Save your favourit cities</h2>
                    </div>
                    <div class="item item-text-wrap">
                        You can also save your favourite cities to check them more quickly from the menu.
                    </div>
                    <div class="item image-intro-menu">
                        <img src="img/intro/menu.png">
                    </div>
                </div>

                <div class="card">
                    <div class="item item-text-wrap">
                        City not marked as favorite.
                    </div>
                    <div class="item item-image">
                        <img src="img/intro/favorite.png">
                    </div>
                </div>
                <div class="card">
                    <div class="item item-text-wrap">
                        City marked as favorite.
                    </div>
                    <div class="item item-image">
                        <img src="img/intro/noFavorite.png">
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="card">
                    <div class="item item-divider">
                        <h2 class="center">Use GPS to Geolocate your city</h2>
                    </div>
                    <div class="item item-text-wrap">
                        By activating your GPS, you can have directy the radar on the geolocated city.
                    </div>
                    <div class="item image-intro-menu">
                        <img src="img/intro/menu.png">
                    </div>
                </div>
                <button class="button button-clear button-full button-positive" ui-sref="app.cities" ng-click="introCtrl.startApp()">
                    Start Search City
                </button>
            </ion-slide>

        </ion-slide-box>
    </ion-content>
</ion-view>
