<ion-view  view-title="{{'About Rain Radar City'|translate}}">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <translate>
                    Rain Radar City uses data from meteoblue.com.
                </translate>
                <br>
                <translate>
                    This is a fast, easy-to-use application that displays animated rain radar around your current city, allowing you to see quickly if rain is coming around in the next hour.
                </translate>
            </div>
        </div>
    </ion-content>
</ion-view>
