<ion-view view-title="{{'Search City'|translate}}">

    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="{{'Search City'|translate}}" ng-model="citiesCtrl.cityToSearch" ng-keyup="citiesCtrl.search()">
        </label>

        <div class="item" ng-if="citiesCtrl.error != null">
            {{citiesCtrl.error}}
        </div>

        <ion-list>
            <ion-item ng-repeat="city in citiesCtrl.cities" ng-click="citiesCtrl.goTo(city)">
                <span class="flag-icon flag-icon-{{city.iso2 | lowercase}}"></span> {{city.name}} ({{city.admin1}})
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
