<ion-view view-title="{{'Rain Radar'|translate}}">

    <ion-nav-buttons side="right">
        <button class="button icon ion-refresh" ng-click="radarCtrl.refreshRadar()">
        </button>
        <button class="button icon" ng-class="radarCtrl.isFavorite ? 'ion-android-favorite' : 'ion-android-favorite-outline'"
                ng-show="radarCtrl.city != null" ng-click="radarCtrl.addRemoveFavorite()">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list card">

            <div class="item item-text-wrap error" ng-hide="radarCtrl.error == null">
                {{radarCtrl.error}}
            </div>

            <div class="item" ng-show="radarCtrl.isNoDataAvailable" translate>
                No data for the city {{radarCtrl.city.name}}.
            </div>

            <div class="item" ng-show="radarCtrl.radarCity != null">
                <h1>{{radarCtrl.city.name}}</h1>
                <meter value="{{radarCtrl.indexCityIncremental}}" max="{{radarCtrl.radar.city.length}}">{{radarCtrl.indexCityIncremental}}/{{radarCtrl.radar.city.length }}</meter>
                <p class="center value-meter-bar">{{radarCtrl.indexCity + 1}}/{{radarCtrl.radar.city.length}}</p>
                <div id="radar-city" class="item-image" ng-click="radarCtrl.pause()">
                    <img ng-src="{{radarCtrl.radarCity}}" alt="Radar City"><br/>
                    <img class="img-pause center transparent" src="img/radar/pause.png" ng-class="{'animated fadeIn': radarCtrl.isPaused}"><br/>
                    <img class="img-play center transparent" src="img/radar/play.png" ng-class="{'animated fadeIn': !radarCtrl.isPaused}">
                </div>
            </div>

            <div class="item" ng-show="radarCtrl.radarCountry != null">
                <h1>{{radarCtrl.city.country}}</h1>
                <meter value="{{radarCtrl.indexCountryIncremental}}" max="{{radarCtrl.radar.country.length}}">{{radarCtrl.indexCountryIncremental}}/{{radarCtrl.radar.country.length}}</meter>
                <p class="center value-meter-bar">{{radarCtrl.indexCountry + 1}}/{{radarCtrl.radar.country.length}}</p>
                <div id="radar-country" class="item-image" ng-click="radarCtrl.pause()">
                    <img ng-src="{{radarCtrl.radarCountry}}" alt="Radar Country"><br/>
                    <img class="img-pause center transparent" src="img/radar/pause.png" ng-class="{'animated fadeIn': radarCtrl.isPaused}"><br/>
                    <img class="img-play center transparent" src="img/radar/play.png" ng-class="{'animated fadeIn': !radarCtrl.isPaused}">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
