<ion-view view-title="{{'Rain Radar'|translate}}">

    <ion-nav-buttons side="right">
        <button class="button icon ion-refresh" ng-click="radarCtrl.refreshRadar()">
        </button>
        <button class="button icon" ng-class="radarCtrl.isFavorite ? 'ion-android-favorite' : 'ion-android-favorite-outline'"
                ng-show="radarCtrl.city != null" ng-click="radarCtrl.addRemoveFavorite()">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list card">

            <div class="item item-text-wrap error" ng-hide="radarCtrl.error == null">
                {{radarCtrl.error}}
            </div>

            <div class="item" ng-show="radarCtrl.isNoDataAvailable" translate>
                No data for the city {{radarCtrl.city.name}}.
            </div>

            <div class="item" ng-show="radarCtrl.radarCity != null">
                <h1>{{radarCtrl.city.name}}</h1>
                <div class="item-image">
                    <img ng-src="{{radarCtrl.radarCity}}" alt="Radar City">
                </div>
            </div>

            <div class="item" ng-show="radarCtrl.radarCountry != null">
                <h1>{{radarCtrl.city.country}}</h1>
                <div class="item-image">
                    <img ng-src="{{radarCtrl.radarCountry}}" alt="Radar Country">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
