<ion-view view-title="{{'Rain Radar'|translate}}">

    <ion-nav-buttons side="secondary">
        <button class="button icon ion-android-share-alt btn-share button-energized"
                ng-show="radarCtrl.city !== null" ng-click="radarCtrl.shareRadar()">
        </button>
        <button class="button icon ion-refresh btn-refresh button-assertive" ng-click="radarCtrl.refreshRadar()">
        </button>
        <button class="button icon button-royal" ng-class="radarCtrl.isFavorite ? 'ion-android-favorite' : 'ion-android-favorite-outline'"
                ng-show="radarCtrl.city != null" ng-click="radarCtrl.addRemoveFavorite()">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list card">

            <div class="item item-text-wrap error enter-error headShake-error animated infinite" ng-if="radarCtrl.error != null">
                {{radarCtrl.error}}
            </div>

            <div class="item" ng-show="radarCtrl.isNoDataAvailable" translate>
                No data for the city {{radarCtrl.city.name}}.
            </div>

            <div class="item" ng-show="radarCtrl.radarCity != null">
                <h1>{{radarCtrl.city.name}}</h1>
                <p class="center value-meter-bar">{{radarCtrl.indexCity + 1}}/{{radarCtrl.radar.city.length}}</p>
                <meter value="{{radarCtrl.indexCityIncremental}}" max="{{radarCtrl.radar.city.length}}"></meter>
                <div id="radar-city" class="item-image card-block" ng-click="radarCtrl.pause()">
                    <img radar-img-width="radarCtrl.radarImgWidth" ng-src="{{radarCtrl.radarCity}}" alt="Radar City"><br/>
                    <img class="img-pause center transparent" src="img/radar/pause.png" ng-class="{'animate-pause fadeIn': radarCtrl.isPaused}"><br/>
                    <img class="img-play center transparent" src="img/radar/play.png" ng-class="{'animate-play fadeIn': !radarCtrl.isPaused}">
                    <div user-location="radarCtrl.userPositionInCity" class="location-marker">
                        <div class="gmnoprint"></div></div><br/>
                </div>
            </div>

            <div class="item" ng-show="radarCtrl.radarCountry != null">
                <h1>{{radarCtrl.city.country}}</h1>
                <p class="center value-meter-bar">{{radarCtrl.indexCountry + 1}}/{{radarCtrl.radar.country.length}}</p>
                <meter value="{{radarCtrl.indexCountryIncremental}}" max="{{radarCtrl.radar.country.length}}"></meter>
                <div id="radar-country" class="item-image" ng-click="radarCtrl.pause()">
                    <img ng-src="{{radarCtrl.radarCountry}}" alt="Radar Country"><br/>
                    <img class="img-pause center transparent" src="img/radar/pause.png" ng-class="{'animate-pause fadeIn': radarCtrl.isPaused}"><br/>
                    <img class="img-play center transparent" src="img/radar/play.png" ng-class="{'animate-play fadeIn': !radarCtrl.isPaused}">
                    <div user-location="radarCtrl.userPositionInCountry" class="location-marker">
                        <div class="gmnoprint"></div></div><br/>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
