
.divider-royal {
    background-color: #673AB7;
}

.divider-royal h2 {
    color: #fff !important;
}

.image-intro-raining-center {
    text-align: center;
    padding: 0;
    margin-bottom: -9px;
}

.image-intro-raining-left {
    text-align: left;
    padding: 0;
    margin-bottom: -9px;
}

.image-intro-raining-right {
    text-align: right;
    padding: 0;
    margin-bottom: -9px;
}

.image-intro-menu-geoloc-left {
    text-align: left;
    padding: 0;
}

.image-intro-menu-geoloc-right {
    text-align: right;
    padding: 0;
}

.image-intro-menu-geoloc-left img, .image-intro-menu-geoloc-right img, .image-intro-raining-right img, .image-intro-raining-left img {
    width: 100%;
}

.image-intro-raining-center img {
    width: 42%;
}

.card-gallery-intro {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-legend {
    margin-top: 5px;
    margin-bottom: 7px;
    padding-bottom: 0px;
}

.card-legend img {
    width: 50%;
}

.row-legend-last {
    margin-bottom: -10px;
}

.button-bar2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
}

/* masck scroll down button on portrait view */
@media screen and (orientation:portrait) {
    .btn-scroll-down {
        visibility: hidden;
        margin: -20px;
    }
}

/* legend list */
.list-gps-features {
    margin-left: 25px;
    margin-top: 5px;
}
.list-gps-features ul {
    list-style-image: url("../img/intro/back.png"); color:#3A0078; font-size:18px;
}
.list-gps-features ul li {
    line-height:30px;
}

.vertical-divider {
    height: 215px;
}

.slider-pager {
    margin-bottom: -20px;
}