
.slider {
    /*height: 100%;*/
/*    height: 600px; /* slider height i want */
}

.slider-slide {
    /*height: 100%;*/
}

.image-intro-2-radars {
    text-align: center;
    padding: 0;
}

.image-intro-raining-left {
    text-align: left;
    padding: 0;
    margin-bottom: -9px;
}

.image-intro-raining-center {
    text-align: center;
    padding: 0;
    margin-bottom: -9px;
}

.image-intro-raining-right {
    text-align: right;
    padding: 0;
    margin-bottom: -9px;
}

.image-intro-menu-geoloc, .image-intro-menu-fav {
    text-align: center;
    padding: 0;
}

.image-intro-menu-geoloc img {
    width: 80%;
}

.image-intro-menu-fav img {
    width: 70%;
}

.image-intro-raining-left img {
    width: 100%;
}

.image-intro-raining-right img, .image-intro-raining-center img {
    width: 42%;
}

.image-intro-2-radars img{
    width: 60%;
}

.card-gallery-intro {
    margin-top: 5px;
    margin-bottom: 10px;
}

.card-legend {
    margin-top: 5px;
    margin-bottom: 7px;
    padding-bottom: 0px;
}

.card-legend img {
    width: 100%;
}

.row-legend-last {
    margin-bottom: -10px;
}

.button-bar2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
}

/* masck scroll down button on portrait view */
@media screen and (orientation:portrait) {
    .btn-scroll-down {
        visibility: hidden;
        margin: -20px;
    }
}
