
.slider {
    /*height: 100%;*/
    height: 600px; /* slider height you want */
}

.slider-slide {
    height: 100%;
}

.image-intro-2-radars {
    text-align: center;
    padding: 0;
}

.image-intro-2-radars img{
/*    width: 60%; */
    height: 300px;
}


.image-intro-raining-left {
    text-align: left;
    padding: 0;
    margin-bottom: -9px;
}

.image-intro-raining-center {
    text-align: center;
    padding: 0;
    margin-bottom: -9px;
}

.image-intro-raining-right {
    text-align: right;
    padding: 0;
    margin-bottom: -9px;
}

.image-intro-raining-right img, .image-intro-raining-center img, .image-intro-raining-left img {
/*    width: 42%; */
    height: 300px;
}

.image-intro-menu {
    text-align: center;
    padding: 0;
}

.image-intro-menu img {
/*    width: 80%; */
    height: 300px;
}
