
.btn-refresh {
    margin-right: 10px;
}

.transparent {
    opacity: 0;
}

.animate-play {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animate-pause {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.card-block {
    position: relative;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
/*    0% {opacity: 0;}
    100% {opacity: 1;}
    */
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@media screen and (orientation:portrait) {
    .img-pause {
        vertical-align: middle;
        width: 100%;
        margin-top: -330px;
    }

    .img-play {
        vertical-align: middle;
        width: 100%;
        margin-top: -370px;
    }
}

@media screen and (orientation:landscape) {
    .img-pause {
        vertical-align: middle;
        width: 100%;
        margin-top: -600px;
    }

    .img-play {
        vertical-align: middle;
        width: 100%;
        margin-top: -650px;
    }
}
